@import "tailwindcss";

@theme {
  --font-sofia-pro: "Sofia Pro", sans-serif;
  --animate-shimmer: shimmer 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;

  /* Brand Colors */
  --color-brand-50: #fff0f2;
  --color-brand-100: #ffe3e5;
  --color-brand-200: #ffcbd3;
  --color-brand-300: #ffa1ad;
  --color-brand-400: #ff6c82;
  --color-brand-500: #fb3a5d;
  --color-brand-600: #e91546;
  --color-brand-700: #c50b3b;
  --color-brand-800: #a40d39;
  --color-brand-900: #8c0f36;
  --color-brand-950: #4f0219;
}

@keyframes shimmer {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

@layer base {
  :root {
    @apply font-sofia-pro text-black dark:text-white;
  }

  html {
    @apply overflow-y-scroll;
  }

  body {
    @apply bg-neutral-50;
    @apply dark:bg-black;
  }

  .shimmer {
    @apply animate-shimmer;
    @apply bg-neutral-300;
    @apply dark:bg-neutral-600;
  }

  .menu-item {
    @apply m-2 block cursor-pointer rounded-lg px-2 py-1.5 text-sm text-neutral-700 dark:text-neutral-200;
  }

  .linkify a {
    @apply text-brand-500;
    @apply hover:text-brand-600 dark:hover:text-brand-500;
  }

  .linkify-button button {
    @apply text-brand-500;
    @apply hover:text-brand-600 dark:hover:text-brand-500;
  }

  ::-webkit-file-upload-button {
    @apply mr-2 cursor-pointer rounded-l-xl border-0 px-3 py-2;
    @apply bg-neutral-200 dark:bg-neutral-900;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .no-spinner::-webkit-inner-spin-button,
  .no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .page-center {
    @apply flex h-[calc(100vh-65px)] items-center justify-center;
  }

  .label {
    @apply mb-1 font-medium text-neutral-800 dark:text-neutral-200;
  }

  .dropdown-active {
    @apply bg-neutral-100 dark:bg-neutral-800;
  }

  .focusable-dropdown-item[data-focused] {
    @apply bg-neutral-200 dark:bg-neutral-700;
  }

  .divider {
    @apply border-b border-neutral-200 dark:border-neutral-700;
  }

  .ProseMirror {
    & code {
      @apply rounded-lg bg-neutral-300 px-[5px] py-[2px] text-sm dark:bg-neutral-700;
    }

    & a,
    span[data-hashtag],
    span[data-mention="account"] {
      @apply text-brand-500;
    }

    & .prosekit-virtual-selection {
      box-shadow: none;
      background-color: transparent;
    }

    & .prosekit-placeholder::before {
      @apply opacity-50;
    }
  }

  .text-md {
    @apply !text-sm sm:!text-base;
  }

  .oembed-player,
  iframe {
    @apply rounded-xl;
  }

  /** CSS overrides for plyr audio **/
  .plyr__progress__buffer {
    @apply !bg-white;
  }

  .plyr--audio .plyr__controls {
    @apply !bg-transparent !text-white;
  }

  .plyr--audio .plyr__control {
    @apply hover:!bg-transparent;
  }

  .plyr--audio.plyr--full-ui input[type="range"] {
    @apply !text-white;
  }

  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }

  /* Markup styles */
  .markup > p,
  ul {
    @apply leading-6;
    @apply [&:not(:last-child)]:mb-2;
  }

  .full-page-post-markup > p,
  ul {
    @apply text-[15px] sm:text-[17px];
    @apply !leading-7 sm:leading-[26px];
    @apply [&:not(:last-child)]:mb-3 sm:[&:not(:last-child)]:mb-4;
  }

  /* react-virtuoso - Virtual account list */
  .virtual-account-list {
    @apply !h-[80vh];
    @apply [&>div>div]:divide-y;
    @apply [&>div>div]:divide-neutral-200 dark:[&>div>div]:divide-neutral-700;
  }

  .virtual-divider-list-window {
    @apply [&>div>div]:divide-y;
    @apply [&>div>div]:divide-neutral-200 dark:[&>div>div]:divide-neutral-700;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@custom-variant dark (&:where(.dark, .dark *));
